header {
	background-color: #606060;
	color: white;
	border-radius: 10px;
}
nav ul {
	list-style:none;
	margin: 0;
	padding: 0;
	padding-right: 20px;
	float: right;

}
ul li {
 	display: inline-block;
}
	
ul li a {
	text-decoration: none;
	color: white;
	padding: 35px 20px;
	display: block;
	
}
ul li a:hover {
	color: #EAC83E;
	transition: 0.1s;
}
.gatos {
  	border-radius: 5px;
    width: 80px;
    height: 80px;
}