 .main {
	background-color: #e3e4e5;
	color: black;
	width:90%;
	max-width:1000px;
	margin:20px auto;
	border-radius: 10px;
	padding: 4px;
}
.main h2, p {
	margin: 5px;
	padding: 5px;
	line-height: 22px;
}
.contenedor-img {
	display: flex;
}
.article-img {
	border-radius: 10px;
	width: 180px;
	height: 180px;
	display: block;
	margin:auto;
	padding: 2px 2px 2px 2px;
	display:block; 
	box-shadow: 2px 0px 3px 2px #1b396a;
}
